RewriteEngine On
RewriteRule ^api/listar_por_categoria/([0-9]+)$ api.php?opc=listar_por_categoria&category_id=$1 [NC,L]
RewriteRule ^api/obtener_producto/([0-9]+)$ api.php?opc=obtener_producto&product_id=$1 [NC,L]